@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
:root {
    --primary-color: #581c87;
    --secondary-color: #f8f8ff;
}

body {
    background-color: #581c87;
    color: var(--secondary-color);
    font-family: 'Mulish', sans-serif;
}

h1 {
    text-align: center;
    font-size: xx-large;
    margin-top: 3rem;
}

.container {
    width: 50%;
    margin: auto;
    text-align: center;
}

label {
    display: block;
    padding: 0.5rem;
    margin: auto;
    margin-bottom: 0.5rem;
    font-family: 'Mulish', sans-serif;
    font-size: x-large;
}

input {
    margin-bottom: 1rem;
    width: 60%;
    padding: 0.5rem;
}

#check-btn {
    width: 8rem;
    height: 6vh;
    padding: 0.5rem;
    margin: auto;
    cursor: pointer;
    border: 1px solid gainsboro;
    background-color: #f8f8ff;
    color: var(--primary-color);
    border-radius: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#output-box {
    margin-top: 1rem;
    font-size: x-large;
}